token.json
crendentials.json
profile.json
app/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/    
venv/
.venv/  
/app/parsers/__pycache__/
/app/parsers/*.pyc
/app/parsers/*.pyo
/app/parsers/*.pyd


        