token.json

calendar_token.json
credentials.json
state.json
.env.local
.env





profile.json
app/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/    
venv/
.venv/  
/app/parsers/__pycache__/
/app/parsers/*.pyc
/app/parsers/*.pyo
/app/parsers/*.pyd

data/

.env

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*